* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(240, 242, 245);
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.page {
    width: 50%;
}

.header {
    width: 100%;
    padding-bottom: .5em;
}

.text {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.icon {
    font-size: 1.5em;
    color: #0a0c0c;
    opacity: 0;
}

.mem-list input{
    display: none;
}
.mem-list label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    padding: .9em 0 .9em 0;
    
    border-top: .1em solid grey;
    color: #0a0c0c;
}
.mem-list label img {
    scale: 0.5;
    width: 0;
    height: 0;
}
.mem-list input:checked + label {
    color: #0a0c0c;
}
.mem-list input:checked + label img {
    scale: 1;
    width: 30vh;
    height: 30vh;
}
.mem-list label:hover img {
    width: 30vh;
    height: 30vh;
    scale: 1;
    transition: scale .5s ease-in-out;
}
.mem-list label:active img {
    opacity: 0.5;
    transition: opacity .5s ease-in-out;
}
.mem-list label:active h2 {
    color: #26a8f4;
    transition: color .5s ease-in-out;
}

.mem-list:hover .icon {
    opacity: 1;
}
.mem-list label:hover .icon {
    transform: rotate(45deg);
}
.mem-list input:checked + label .icon {
    transform: rotate(45deg);
}
.mem-list label:active .icon {
    color: #26a8f4;
    transition: color .5s ease-in-out;
}

@media (hover) {
    .mem-list:hover label {
        color: #0a0c0c;
        transition: color .3s ease-in-out;
    }

    .mem-list label {
        color: #26a8f4;
    }
}

@media (max-width: 320px) and (max-height: 568px) {
    h1 {
        font-size: 1em;
    }
    h2, .icon {
        font-size: .5em;
    }

    .page {
        width: 80%;
    }
}

@media (min-width: 820px) and (min-height: 1180px) {

    h1 {
        font-size: 3em;
    }
    h2, .icon {
        font-size: 2em;
    }
}

@media (min-width: 1920px) and (min-height: 1080px) {

    h1 {
        font-size: 4em;
    }
    h2, .icon {
        font-size: 3em;
    }
}